%card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    border-radius: 0.5rem;
    overflow: clip;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.07);
        z-index: 1;
        box-shadow: 0.75rem 0.75rem 0.3rem 0.06rem rgba(0, 0, 0, 0.2);
    }
}

.card{
    &First{
        @extend %card;
        justify-items: center;
        background-color: $accentDark;
        padding-block: 2.25rem;
        padding-inline: 12%;
        height: 284px;
        text-align: center;
        text-wrap: pretty;
        justify-content: space-between;

        span{
            @include heading-xl-gold;

            &:last-child{
                @include heading-xl-italics;
            }
        }
        img{
            height: 30px;
            width: 185px;
            margin-block-start: auto;
        }
    
        p{
            @include body-s-light;
        }
    }
    &Second{
        @extend %card;
        flex-direction: column-reverse;
        background-color: $mainBackground;
        background-image: $mainGradient;
        padding: 1rem;
        height: 158px;
        justify-content: space-between;

        h2{
            @include heading-m-dark;
        }

        img{
            height: 63.3px;
            width: 300px;
        }

    }
    &Third{
        @extend %card;
        background-color: $accentLight;
        height: 212px;
        padding-block-start: 1rem;
        padding-inline-start: 1rem;
        padding-inline-end: calc(100% - 18rem);

        text-wrap: pretty;

        h2{
            @include heading-m-dark;
        }
        
        img{
            width: 202px;
            height: 152px;
            margin-block-start: 1rem;
            align-self: flex-start
        }
    }
    &Fourth{
        @extend %card;
        background-color: $accentDark2;
        height: 458px;
        padding-block: 2rem;
        padding-inline: calc(50% - 10rem);
        text-align: center;
        justify-content: space-between;

        h2{
            @include heading-m-dark;
        }

        p{
            @include body-s-dark;
            margin: 0;
        }
        
        img{
            width: 300px;
            height: 267px;
        }
    }
    &Fifth{
        @extend %card;
        background-color: $accentDark;
        flex-direction: column-reverse;
        height: 363px;
        padding-block: 1.8rem;
        padding-inline: calc(50% - 9rem);
        text-align: center;
        justify-content: space-between;

        h2{
            @include heading-xm-light;
            text-wrap: wrap;
            margin-inline: 3rem;
        }
        
        img{
            width: 224px;
            height: 198px;
        }
    }
    &Sixth{
        @extend %card;
        background-color: $mainLight;
        height: 209px;
        padding: 1.25rem;
        align-items: flex-start;

        h2{
            @include heading-xm-alt;
        }
        span{
            position: relative;
            top: -2px;
        }
        
        p{
            @include body-s-dark;
            margin-top: 8px;
            margin-bottom: 26px;
        }
        img{
            width: 173px;
            height: 65px;
        }
    }
    &Seventh{
        @extend %card;
        background-color: $accentLight2;
        height: 228px;
        padding-block-start: 2rem;
        padding-inline-start: 2rem;
        padding-inline-end: calc(100% - 19rem);
        align-items: flex-start;

        h2{
            @include heading-m-alt;
        }
        span{
            @include heading-m-alt-purple;
        }
        
        img{
            margin-block-start: 1.625rem;
            margin-inline-start: -0.25rem;
            width: 186px;
            height: 88px;
        }
    }
    &Eightth{
        @extend %card;
        background-color: $accentLight;
        height: 344px;
        padding-block: 1.5rem;
        padding-inline-start: 1.5rem;
        padding-inline-end: calc(100% - 18rem);
        justify-content: space-between;

        h2{
            @include heading-m-alt;
            text-wrap: pretty;
            max-width: 100%;
            align-self: flex-start;
        }
        
        img{
            width: 215px;
            height: 218px;
            align-self: flex-start;
        }
    }
}