
@font-face{
  font-family: 'DMSans';
  src: url('../../assets/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: normal;
}

// @mixin heading($color, $size, $line-height, $weight: 500, $letter-spacing: normal)

@mixin heading-xl-light {
  @include heading($mainLight, 2.875rem, 2.625rem, 600, -7);
  }

@mixin heading-xl-dark {
  @include heading($mainDark, 2.875rem, 2.625rem, 600, -7);
  }

@mixin heading-xl-gold {
  @include heading($accentLight, 2.875rem, 2.625rem, 600, -7);
  }

@mixin heading-xl-italics {
  @include heading($mainLight, 2.875rem, 2.625rem, 600, -8);
    font-style: italic;
  }

@mixin heading-l-light {
  @include heading($mainLight, 2.125rem, 2rem, 500, -6.5);
  }

@mixin heading-l-dark {
  @include heading($mainDark, 2.125rem, 2rem, 500, -6.5);
  }

@mixin heading-l-gold {
  @include heading($accentLight, 2.125rem, 2rem, 500, -6.5);
  }

@mixin heading-xm-light {
  @include heading($mainLight, 2rem, 1.68rem, 500, -7);
  }

@mixin heading-xm-dark {
  @include heading($mainDark, 2rem, 1.68rem, 500, -7);
  }

@mixin heading-xm-alt {
  @include heading($mainDark, 2.875rem, 2.875rem, 600, -6);
    }

@mixin heading-m-light {
  @include heading($mainLight, 1.5rem, 1.5rem, 500, -5.5);
  }

@mixin heading-m-dark {
  @include heading($mainDark, 1.5rem, 1.5rem, 500, -5.5);
}

@mixin heading-m-alt {
  @include heading($mainDark, 2rem, 1.625rem, 500, -7);
}

@mixin heading-m-alt-purple {
  @include heading($accentDark, 2.125rem, 2.125rem, 500, -10);
    font-style: italic;
  }

@mixin body-s-light {
  @include heading($mainLight, 1.125rem, 1.125rem, 400, -1);
}

@mixin body-s-dark {
  @include heading($mainDark, 1.125rem, 1.125rem, 400, -1);
}
  