@import url('css/main-scss-styles.css');
@font-face{
  font-family: 'DMSans';
  src: url('../assets/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: normal;
}
*, *::after, *::before {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}
.heading-xl-white {
  color: white;
  font-family: "DMSans", sans-serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;}