@import 'abstracts/index';
@import 'base/_index';
@import 'components/_index';
@import 'layout/_index';
@import 'pages/_index';

//code//

@include grid-area-names;

body{
    display: flex;
    align-items: center;
    padding-block: 2rem;
    padding-inline: 1rem;
    background-color: $mainBackground;
}

main{
        
    width: 100%;
    margin:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gridGap;
}

div{
    
    h1{
        @include heading-xl-light;
    }
    p{
        margin-block-start: .75rem;
    }
}

@import 'base/_media';